<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="ISO-8859-1">
  <title>List of person</title>
</head>

<body>
<h2 th:align="center" >List of person</h2>
<br/>
<ul>
  <li th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getName()}"></a>

  </li>
</ul>
<br/>
<hr/>

<form th:method="GET" th:action="@{/people/new}">
  <input type="submit" value="Create new person"/>
</form>
<form th:method="GET" th:action="@{/tasks}">
  <input type="submit" value="All Tasks"/>
</form>


</body>

</html>