<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit task</title>
</head>
<body>
<form th:method="POST" th:action="@{/tasks/{id}(id=${task.getId()})}" th:object="${task}">
    <td><label for="description">Enter descriotion task: </label></td>
    <td><input type="text" th:field="*{description}" id="description"/></td>
    <br/>
    <td><label for="dropDownList">Enter status task: </label></td>
    <select class="form-control" id="dropDownList" th:field="*{statusTask}">
        <option th:each="status : ${listStatus}" th:value="${status}" th:text="${status}"></option>
    </select>
    <br/>
    <input type="submit" value="Save edit"/>

</form>
</body>
</html>